
.container{
  display: flex;
  flex-direction: row;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.additional-options, .center, .numberExercises, .main, .top{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="checkbox"], input[type="range"]{
  zoom: 200%
}

input[type="range"]{
  width: 40%;
}

#exercise-options{
  margin: auto;
}

.numberExercises, .letterExercises{
  width: 80%;
}


table{
  margin: auto;
  border: none
}

#createExercises{
  font-family: "Comic Sans MS", Verdana, Tahoma;
  font-size: 100%;
  width: auto;
}

.input-text {
  background: transparent;
  border-style: inset;
  font-family: "Comic Sans MS", Verdana, Tahoma;
  font-size: 100%;
  width: 30px;
  text-transform: uppercase;
}

#addLetterExerciseText{
  width: 300px;
}

body{
  background-image: url("images/kids-background.jpg");
  background-attachment: fixed;
  font-family: "Comic Sans MS", Verdana, Tahoma;
  font-size: 150%;


}

@font-face {
    font-family: "Orange font";
    src: url(fonts/grobold-font.ttf) format("truetype");
}
